[Desktop Entry]
Encoding=UTF-8
Name=Collegamento a Android Asset Studio - Simple Nine-patch Generator
Type=Link
URL=https://romannurik.github.io/AndroidAssetStudio/nine-patches.html
Icon=text-html
Name[it_IT]=Android Asset Studio - Simple Nine-patch Generator
