<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mobserv.remoteapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- coarse location saves battery -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- android:theme="@style/AppTheme" -->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ServerActivity"
            android:label="Server Activity">
            <intent-filter>
                <action android:name="com.example.mobserv.remoteapp.ServerActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ClientActivity"
            android:label="Client Activity">
            <intent-filter>
                <action android:name="com.example.mobserv.remoteapp.ClientActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MapActivity"
            android:label="Map Activity">
            <intent-filter>
                <action android:name="com.example.mobserv.remoteapp.MapActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".PhotoActivity">
            <intent-filter>
                <action android:name="com.example.mobserv.remoteapp.PhotoActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAFLDYdtQ6nMWjkEUowbywvG2FctN3Xz7E" />
        <!-- tis this valid for everybody, or just for the one who created? -->

        <activity
            android:name=".PhotoActivity"
            android:label="@string/title_activity_photo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LiveActivity"
            android:label="@string/title_activity_live"
            android:theme="@style/AppTheme.NoActionBar"></activity>

    </application>

</manifest>
